<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f8f71">  <td>19/03/03 22:06:44</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.startApp1()[pri:0, instance:vendor.testcasess.TC001_testcase@589838eb]">&gt;&gt;startApp1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/03/03 22:06:51</td>   <td>7078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_testcase.callingAllPages()[pri:0, instance:vendor.testcasess.TC001_testcase@589838eb]">callingAllPages</td> 
  <td>main@1386767190</td>   <td></td> </tr>
</table>
